body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #2b2b2b;
}

/* estilo de texto y tamaño de las tarjetas*/
.custom-text {
    font-family: 'Arial', sans-serif; /* Cambia 'Arial' por la tipografía que prefieras */
    font-size: 13px; /* Cambia el tamaño de fuente según tus necesidades */
}

/* Imagen de fondo y overlay */
.hero {
    position: relative;
    height: 100vh;
    background: url('/img/Fabrica-pano-borcal.jpg') no-repeat center center/cover;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1); /* Overlay oscuro */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
    color: white;
    border: 1px solid white; /* Borde fino blanco */
    padding: 10px; /* Añadir un poco de espacio dentro del borde */
    display: inline-block; /* Para que el borde se ajuste al tamaño del texto */
    border-radius: 15px; /* Curvatura en los ángulos */
    background: rgba(0, 0, 0, 0.5); /* Overlay oscuro */
}

.hero h2 {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 300;
}

/* Texto principal */
.main-text {
    padding: 50px 20px;
    background: #2b2b2b; /* fondo oscuro */
    text-align: center;
}

.main-text p {
    font-size: 1.2em;
    line-height: 1.5em;
    max-width: 800px;
    margin: 0 auto;
}

/* Llamada a la acción */
.cta {
margin-top: 20px;
background-color: #f1c40f; /* Color amarillo de Borcal */
color: #000000; /* Texto en negro */
border: 2px solid #000000; /* Borde negro */
padding: 15px 30px;
font-size: 1.2em;
cursor: pointer;
transition: background-color 0.3s;
border-radius: 15px;
}

.cta:hover {
background-color: #d4ac0d; /* Un amarillo más oscuro al hacer hover */
}

/* Estilo Sección Lineas de productos */
.products {
    padding: 50px 20px;
    background: url(/img/Fondos/negro\ 2.jpg);
    background-size: cover; /* para asegurar que la imagen cubra completamente el area */
    color: #ffffff;
    text-align: center;
}

.product-item {
    display: inline-block;
    margin: 20px;
    max-width: 200px;
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Botones de cada Línea de producto */
.product-item button {
margin-top: 10px;
padding: 10px 20px;
background-color: #f1c40f; /* Color amarillo de Borcal */
color: #000000; /* Texto en negro */
border: 1px solid #000000; /* Borde negro */
cursor: pointer;
transition: background-color 0.3s;
border-radius: 15px; /* curvatura de los angulos */
}

.product-item button:hover {
background-color: #d4ac0d; /* Un amarillo más oscuro al hacer hover */
}


/* Estilo Seccion Formulario de contacto */
.contact-form {
    padding: 50px 20px;
    background-color: #2b2b2b; /* Fondo oscuro */
    color: #ffffff;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2em;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #ffffff; /* Borde blanco */
    border-radius: 5px;
    background-color: #444;
    color: #ffffff;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border-color: #f1c40f; /* Color amarillo */
}

.submit-btn {
    background-color: #f1c40f; /* Color amarillo de Borcal */
    color: #000000; /* Texto negro */
    border: 2px solid #000000; /* Borde negro */
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #d4ac0d; /* Un amarillo más oscuro al hacer hover */
}






/* Estilo Seccion tarjetas de cada Linea */
.linea-calzado {
    padding: 50px 20px;
    background-image: url(/img/Fondos/negro\ 2.jpg);
    background-size: cover; /* para asegurar que la imagen cubra completamente el area */
    color: #ffffff;
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta {
    background-color: #0000;
    /*border: 1px solid #ddd;*/
    border-radius: 10px;
    margin: 10px;
    width: 20%;
    box-shadow: 0px 0px 30px grey;
    transition: transform 0.3s ease;
    margin-bottom: 1%;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 40px #f1c40f;
}

.tarjeta img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.descripcion {
    background: #000000;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.descripcion h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 5px;
    text-align: center;
}

.descripcion p {
    font-size: 1em;
    color: #edcd31;
    text-align: center;
    /*font-weight: bold;*/
}

/* Estilos adaptativos */
@media (max-width: 768px) {
    .tarjeta {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .tarjeta {
        width: 100%;
    }
}